<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @RenderSection("style", false)

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>@ViewBag.H1</h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Restaurants" asp-action="Index">Index</a></li>
                <li><a asp-controller="Restaurants" asp-action="Create">Lägg till Restaurang</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matkategori<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Asiatiskt</a></li>
                        <li><a href="#">Mellanöstern</a></li>
                        <li><a href="#">Afrikanskt</a></li>
                        <li><a href="#">Medelhav</a></li>
                        <li><a href="#">Sydamerikanskt</a></li>
                        <li><a href="#">Amerikanskt</a></li>
                        <li><a href="#">Europeiskt</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
</ul>
        </div>
    </nav>

    <div>@RenderBody()</div>

    @RenderSection("script", false)

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="~/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
