@model RestaurantsIndexVM[]

@{
    ViewBag.Title = "Restauranger";
    ViewBag.H1 = "Restauranger";
}

@section style{
    <link href="~/CSS/MyStylecss.css" rel="stylesheet" />
}

<ul id="showRestaurants">
    @foreach (var item in Model)
    {
        <li>@item.Name <span class="@item.DisplayCssClass">@item.DisplayCurrencySign</span></li>
        <ul><li><a href="@item.WebbPage">@item.WebbPage</a></li></ul>
    }
</ul>